<div class = "image overlay">
    <h1 id="site-title">Hello There.</h1>
    <div class="tagline">Thanks for visiting — Enter your details and we'll notify you on launch day!</div>
    <!--Log-in Form-->
      <div id="login">
      <form>
        <input type="email" placeholder="Your Name" />
        <input type="password" placeholder="Your E-mail" />
        <input type="submit" value="Sign Up" />
      </form>
     </div>
    </div>