<div class="photo-form">
  <%= form_for @photo, :html => { :multipart => true } do |f| %> 
    <%= f.text_field :caption, :placeholder => "caption", class: "photo-input" %> 
    <%= f.file_field :image, :placeholder => "image", :class: "photo-file" %> 
    <%= f.submit "Post", class: "photo-btn" %> 
  <% end %> 
</div> 