// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0 auto;
}

html {
  box-sizing: border-box; 
}

.user-bar {
  color: #EA526F; 
}

.user-content {
  margin-top: 20px;
  margin-left: 20px; 
}

.user-banner {
  background-color: #555A5C; 
  width: 100%;
  height: 40px;  
}

.banner{
  background:url("/images/salon.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#site-title {
  text-align: center;
  width: 100%;
  color: #FFF;
  display: block;
  margin-top: 30px; 
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  -webkit-animation: text-fade 1.5s;
}

.tagline {
  text-align: center;
  line-height: 200px;
  margin: auto;
  position: absolute;
  top: 61%;
  width: 100%;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-overflow: elipsis;
  -webkit-animation: text-fade 2.5s;
}


.overlay {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 800px;
  display: block;
  z-index:0;
  background-color: rgba(0, 0, 0,0.6);
}

/* Log in styles */
#login {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
  background: rgba(0,0,0,.8);
  border-radius: 4px;
  position: relative;
}

#login form {
  color: white; 
  margin-bottom: 30px;
  padding: 20px 20px;
  position: relative;
}

input[type="email"], input[type="password"] {
  width:92%;
  background: transparent;
  margin-bottom:4%;
  border:1px solid #ccc;
  border: 1px solid rgba(255,255,255,.2);
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
}

.sub-button {
  width:100%;
  background-color: #FC2467;
  background: transparent;
  border:0;
  padding:4%;
  background-color: #EA526F;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
  border: 1px solid rgba(0,0,0,.5);
  border: 1px solid rgba(255,255,255,.2);
}

.sub-button:hover {
  background-color: tomato;
}

.avatar-input {
  width: 200px;
  height: 20px;
  margin-bottom: 20px;
}

#navBottom {
    width: 100%;
    height: 72px;
    position: relative;
    float: left;
    margin-top: 90px;
    background: black;
    margin-bottom: 20px;
}

#navTxtBtm {
    width: 100%;
    padding-left: 0;
    position: relative;
    display: block;
    float: left;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

#followers {
    width: 22.3%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 0.063em #1e242a solid; /*1px*/
}

#following {
    width: 20.3%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* feed  */

.content {
  margin: 0 auto;
  padding: 5px;
  clear: left;
}

.feed-box {
  margin: 0;
  display: block;
}

.feed-links {
  margin-left: 30px;
}

.feed-box {
  list-style:none;
  display: inline;
  position: relative;
  float: left;
  width: 200px;
  padding: 7px 0 25px 0; 
}

li {
  list-style:none;
  display: inline;
  position: relative;
  float: left;
}

.photo-wrapper {
  position: relative;
  text-align:center;
  margin: 0 20px 10px;
}

.text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #333;
  opacity: 0;
  transition: opacity .1s ease-out 0.1s;
  pointer-events: none;
}

.photo {
  width: 300px;
  height: 300px;
}

.clear-fix {
  clear: both;
}

.feed-text {
  color: #FF3C00;
}

.nav-links {
  margin-left: 280px; 
}

.users-text {
  margin-top :10px;
  color: white; 
}

.phone-icon {
  height: 30px; 
  width: 30px; 
}

.business-icon {
  height: 30px; 
  width: 30px; 
}

.user-collect {
  width: 1000px;
  height: 440px;
  margin: 0 auto;
  position: center; 
}

.profile-name {
  color: #FF3C00;
}


#map-container{
  margin-top: 30px;
  margin-left: 75px;
  width: 500px;
}

#map {
  width: 350px;
  height: 300px; 
}

.edit-banner {
  background:url("/images/barber-place.png");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.edit-button {
  width:300px;
  background-color: #FC2467;
  background: transparent;
  border:0;
  padding:4%;
  margin-top: 20px;
  background-color: #EA526F;
  color: #fff;
  cursor: pointer;
  margin-left: 100px;
  transition: background .3s;
  -webkit-transition: background .3s;
  border: 1px solid rgba(0,0,0,.5);
  border: 1px solid rgba(255,255,255,.2);
  position: absolute;
}

/* Log in styles */
#login-edit {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: rgba(0,0,0,.8);
  border-radius: 4px;
  position: relative;
  color: white;
}

#map-show {
  margin-top: 50px;
  margin-left: 50px;
}

#search-form {
  width: 500px;
  margin-top: 30px;
  margin-left: 450px;
}

.user-text {
  color: black;
}