<tr> 
  <td class="comment"> 
    <span class="content"><%= wrap(review.content) %></span>
    <span class="timestamp"> 
      Posted <%= time_ago_in_words(review.created_at) %> ago.</span> 
    <td> 
  </tr> 